
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


*{
  margin: 0px;
  padding: 0px;
}

/* Shared Style */

.fontstyle{
  font-family: "Merriweather", serif;
}
.inter-font{
  font-family: "Inter", sans-serif;
}
section{
  margin: 120px auto;
}

/* Header Style */

header{
  display: flex;
  justify-content: center;
}
.header-banner{
  height: 600px;
  width: 1320px;
  margin-top: 50px;
  background-image: linear-gradient( to top , rgba(0, 0, 0, 0) , rgb(0, 0, 0)) ,url('../images/Banner\ Image.png');
  
}
.header-content{
  width: 632px;
  height: 246px;
  margin: auto;
}
.header-title{
  font-size: 32px;
  color: white;
  text-align: center;
  padding-top: 144px;
  padding-bottom: 16px;
}
.header-description{
  font-size: 72px;
  color: white;
  text-align: center;
  line-height: 95px;
}

/* offer section style */
.offer-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 800px;
  align-items: center;
}
.offer{
  font-size: 88px;
  font-weight: bold;
  color: red;
  padding-bottom: 48px;
}
.offer-title{
  font-size: 24px;
  font-weight: normal;
  color: red;
  padding-bottom: 16px;
}
.offer-description{
  font-size: 48px;
  font-weight: bold;
  color: black;
  padding-bottom: 48px;
}

/* welcome srection style */
.welcome-srection{
  display: flex;
  justify-content: center;
}
.welcome-banner{
  background-image: linear-gradient( to left , rgba(0, 0, 0, 0) , rgb(0, 0, 0)), url('../images/Vectorrr.png');
  width: 1320px;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
.welcome-content{
  width: 700px;
  padding-left: 100px;
}
.welcome-img{
  padding-right: 100px;
}
.welcome-title{
  font-size: 64px;
  color: white;
}
.welcome-description{
  font-size: 18px;
  color: white;
  padding-top: 24px;
  padding-bottom: 48px;
}
.welcome-button{
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

/* venue section style */

.venue-section{
  display: flex;
  justify-content: center;
}
.venue-content{
  background-image: linear-gradient( to top , rgba(255, 192, 203, 0) , rgba(255, 192, 203, 1) ) ;
  width: 1320px;
  border-radius: 15px;
  padding-top: 100px;
  padding-bottom: 100px;
  border: 2px solid rgba(240, 240, 240, 0.753);
}
.venue-content p{
  font-size: 32px;
  padding-bottom: 10px;
  text-align: center;
}
.vanue-color{
  color: red;
}
.venue-button{
  color: white;
  text-decoration: none;
  padding: 16px 32px;
  background-color: red;
  border-radius: 8px;
  font-weight: bold;
}
.vanue-button-div{
  text-align: center;
  margin-top: 35px;
}

/* comingsoon-section style */

.comingsoon-section{
  display: flex;
  align-items: center;
  width: 1320px;
  justify-content: space-between;
}
.comingsoon{
  width: 400px;
}
.comingsoon-title{
  font-size: 24px;
  font-weight: 500;
  color: red;
}
.comingsoon-description{
  font-size: 48px;
  padding-top: 16px;
  padding-bottom: 22px;
}
.comingsoon-img{
  border: 10px solid red;
  border-radius: 100%;
  padding: 40px;
}
.comingsoon-img img{
  width: 300px;
}
.comingsoonyear{
  width: 400px;
}
.comingsoonyear-year{
  font-size: 48px;
  font-weight: bold;
  color: red;
}
.comingsoonyear-description{
  font-size: 20px;
  font-weight: 400;
  padding-top: 16px;
  padding-bottom: 43px;
}